<h1>Hello, enjoy playing rock paper scissors against the computer!</h1>
<form action = "" method = "post">
  <input type = "radio" name = "selection" value = "Rock">Rock<br>
  <input type = "radio" name = "selection" value = "Paper">Paper<br>
  <input type = "radio" name = "selection" value = "Scissors">Scissors<br>
  <input type = "submit" value = "Submit!">
</form>


  